/AvvioClient/nbproject/private/
/AvvioServer/nbproject/private/
/AvvioServer/build/
/AvvioClient/build/
/JavaApplication22/nbproject/private/
/EsercitazioneClient2/nbproject/private/
/EsercitazioneServer2/nbproject/private/
/EsercitazioneServer2/build/
/EsercitazioneClient2/build/
/getNamePort/nbproject/private/
/getNamePort/build/
/Esercitazione.Gestione.Eccezioni/nbproject/private/
/Esercitazione.Gestione.Eccezioni/build/
/EsercitazioneClient2/dist/